@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ============================= */
/* Global Scrollbar Styling */
/* ============================= */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}


@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #6b7280 transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b7280;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
  }
}
